Repository giis-uniovi/tdrules, pull requests merged in 2023-07, with the labels that each got.

#16 Combined dependency updates (2023-07-09)
  .github/workflows/test.yml
  net/TdRules/TdRules.csproj
Labels: dependencies, .NET, github_actions

#19 Doc revision (README.md)
  README.md
  tdrules-client-rdb/pom.xml
  tdrules-client/pom.xml
  tdrules-model/pom.xml
  tdrules-store-rdb/pom.xml
Labels: documentation

#23 Combined dependency updates (2023-07-14)
  .github/workflows/test.yml
Labels: dependencies, github_actions

#26 Combined dependency updates (2023-07-22)
  .github/workflows/test.yml
  pom.xml
Labels: dependencies, java, github_actions
